{% extends 'base.html' %}
{% block title %}Tamandua Communicator (tmnd.net){% endblock %}
{% block main %}
{% for post in posts %}
	<article>
		<header>
			<time datetime="{{ post.pub_date|date:"c" }}">{{ post.pub_date|date:"N j, Y" }}</time>, <a href="{% url 'blog_category' post.category.slug %}">{{ post.category.name }}</a>
			<h3><a href="{% url 'read_post' post.slug %}">{{ post.title }}</a></h3>
		</header>
		{% autoescape off %}
		{{ post.parsed_lead }}
		{% endautoescape %}
	</article>
{% endfor %}
<div class="btn-group" role="group">
	{% if posts.has_previous %}
	<a class="btn btn-default" href="{% url 'blog_page' posts.previous_page_number %}">{{ posts.previous_page_number }}</a>
	{% else %}
	<div class="btn btn-default">No previous pages</div>
	{% endif %}
	<div class="btn btn-default">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</div>
	{% if posts.has_next %}
	<a class="btn btn-default" href="{% url 'blog_page' posts.next_page_number %}">{{ posts.next_page_number }}</a>
	{% else %}
	<div class="btn btn-default">No next pages</div>
	{% endif %}
</div>
{% endblock %}
